
body{
  margin:0;
}
.primary-nav {
  height: 200px;
  display: flex;
}
.primary-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.primary-nav #logo {
  background-color: red;
  width: 30%;
  height: 100%;

}
.primary-nav li {
  flex-grow: 1;
  justify-content:center;
  display: flex;
  align-items: center;
}

p {
  font-size: 12px;
}
#section-1 {
  padding: 7px 20px;
}
